[project]
	description = android https using volley
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jung KyungHo (moltak)
[access "refs/for/refs/*"]
	read = group user/Jung KyungHo (moltak)
	push = group user/Jung KyungHo (moltak)
	label-Code-Review = -2..+2 group user/Jung KyungHo (moltak)
	label-Verified = -1..+1 group user/Jung KyungHo (moltak)
	rebase = group user/Jung KyungHo (moltak)
	removeReviewer = group user/Jung KyungHo (moltak)
	submit = group user/Jung KyungHo (moltak)
[access "refs/heads/*"]
	read = group user/Jung KyungHo (moltak)
	create = group user/Jung KyungHo (moltak)
	push = +force group user/Jung KyungHo (moltak)
	pushMerge = group user/Jung KyungHo (moltak)
[access "refs/tags/*"]
	push = +force group user/Jung KyungHo (moltak)
	pushTag = group user/Jung KyungHo (moltak)
	pushSignedTag = group user/Jung KyungHo (moltak)
